.cart-page {
  margin-top: 6rem;
  min-height: 80vh;
}

.cart-header,
.order-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid yellow; */
  background: linear-gradient(
    135deg,
    var(--color-accent-primary) 0%,
    var(--color-accent-secondary) 100%
  );
  padding: 1rem 2rem;
}

.cart-title,
.order-title {
  font-size: 2.5rem;
}
.cart-left-side,
.order-left-side {
  color: white;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.empty-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  width: 100%;
}

.empty-icon {
  width: 250px;
  height: 250px;
}

.empty-header {
  border: 2px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2.5rem 1.8rem;
  border-radius: 20px;
  height: 70vh;
}

.empty-text {
  font-size: 1.8rem;
}

.empty-page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  margin-top: 5rem;
  padding: 1.5rem;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.subtotal,
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #0d1117;
}

.subtotal-text,
.total-text {
  font-size: 2rem;
  font-weight: 600;
}

.subtotal-amount,
.total-amount {
  font-size: 1.8rem;
  font-weight: 700;
}
.checkout-button a {
  text-decoration: none;
  color: white;
}

.checkout-button {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--color-text-dark);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.checkout-button:hover,
.clear-cart-button:hover {
  background: linear-gradient(
    135deg,
    var(--color-accent-primary) 0%,
    var(--color-accent-secondary) 100%
  );
}

.selected-page {
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.food-selected {
  border: 2px solid #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  min-width: 350px;
}

.selected-food-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.food-name {
  font-size: 1.5rem;
  font-weight: bold;
  /* color: white; */
}

.food-count {
  font-size: 1.3rem;
}

.food-price {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #0d0d0d;
  color: white;
  padding: 0.2rem 1rem;
  max-width: 100px;
  border-radius: 10px;
}

.food-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.selected-food-image {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}

.remove-icon {
  width: 20px;
  height: 20px;
}
.remove-item-button {
  border: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: var(--color-accent-primary);
}

.remove-item-button:hover {
  background-color: #f8f8f8;
  color: black;
}

.food-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.food-total {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* border: 2px solid red; */
}

.food-count,
.food-count-price {
  font-size: 1.5rem;
}

.cart-button {
  border: none;
  padding: 1.2rem 4rem;
  font-size: 1.3rem;
  background-color: #0d0d0d;
  border-radius: 10px;
  margin: 2rem;
  cursor: pointer;
}

.cart-button a {
  text-decoration: none;
  color: white;
}

.cart-button:hover {
  background-color: var(--color-accent-primary);
}
