.order-page {
  margin-top: 6rem;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}
.order-main-page {
  padding: 2rem;
}

.order-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  align-items: center;
  padding: 1.5rem 2rem;
  width: 100%;
  min-width: 350px;
}

.order-summary h2 {
  font-size: 2.5rem;
}
.order-summary,
.order-delivery,
.order-payment {
  background: #fff;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.order-summary ul {
  list-style: none;
  padding: 0;
}

.order-summary li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.order-delivery h2,
.order-payment h2 {
  font-size: 2.5rem;
}

.order-delivery,
.order-payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-delivery form {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
}

.order-delivery input {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 3rem;
  gap: 2rem;
}

input::placeholder {
  font-size: 1rem;
}
.order-payment {
  gap: 3rem;
}

.order-payment label {
  font-size: 1.5rem;
}

.order-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.confirm-order {
  background: orange;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
}

.confirm-order:hover {
  background-color: #0d0d0d;
}

.back-to-cart {
  padding: 1.5rem 2.5rem;
  font-size: 1.2rem;
  background-color: #0d0d0d;
  border-radius: 20px;
  border: none;
}

.back-to-cart:hover {
  background: linear-gradient(
    135deg,
    var(--color-accent-primary) 0%,
    var(--color-accent-secondary) 100%
  );
}

.back-to-cart a,
.confirm-order a {
  text-decoration: none;
  color: white;
}
