.order-page {
  margin-top: 6rem;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.order-main-page {
  padding: 2rem;
}

.order-content {
  padding: 2rem;
  padding: 2rem 10rem;
}

.order-empty-text {
  font-size: 1.8rem;
}

.order-summary {
  background: #fff;
  margin: 1rem 0;
}

.order-food-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 2rem;
  margin-bottom: 1rem;
}

.order-food-image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
}

.order-food-details {
  display: flex;
  flex-direction: column;
}

.order-food-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.order-food-price {
  font-size: 1.2rem;
  color: white;
  background-color: #0d0d0d;
  padding: 0.2rem 1rem;
  text-align: center;
  border-radius: 10px;
  max-width: 100px;
  margin-bottom: 0.7rem;
}

.order-food-count {
  font-size: 1.5rem;
  color: #777;
}

.order-delivery {
  background: #fff;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-section-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.order-delivery-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order-delivery-form input {
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.order-delivery-form input::placeholder {
  font-size: 1rem;
  color: #aaa;
}

.order-payment {
  background: #fff;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.order-payment label {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.order-total {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.order-total-items,
.order-total-price {
  font-size: 1.8rem;
  font-weight: bold;
}

.order-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}

.order-actions a {
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  transition: all 0.3s ease;
}

.order-back-btn {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  background-color: #0d0d0d;
  color: white;
  border-radius: 10px;
}

.order-back-btn:hover {
  background: linear-gradient(
    135deg,
    var(--color-accent-primary) 0%,
    var(--color-accent-secondary) 100%
  );
  color: #fff;
}

.order-confirm-btn {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  background: orange;
  color: white;
  border-radius: 10px;
}

.order-confirm-btn:hover {
  background-color: #0d0d0d;
  color: #fff;
}
