.service-section {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  padding: 3rem 2rem;
  background-image: url("/assets/Fast-Food/Chicken-wrap.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.service-section-title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--color-accent-primary);
}

.service-section-subtitle {
  font-size: 1.6rem;
  color: var(--color-accent-primary);
  margin-bottom: 2rem;
}

.service-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--color-bg-light);
}

.service-item {
  /* border: 2px solid green; */
  /* background-color: var(--color-text-secondary); */
  padding: 2rem;
  text-align: center;
  width: 500px;
  background-color: #ff9500bf;
  border-radius: 10px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.service-item:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
  background-color: var(--color-accent-primary);
  color: var(--Background-Header);
}

.service-item-title {
  font-size: 1.6rem;
  margin: 1rem 0rem;
}

.service-item-description {
  padding: 1rem;
  font-size: 1.2rem;
  text-wrap: wrap;
}

.service-item-icon {
  width: 40px;
  height: 40px;
}
